{% extends 'base.html' %}
{% load static %}
{% block 'titulo' %}ICT Academy | Huawei - IFRN{% endblock 'titulo' %}

{% block 'conteudo' %}
<section class="my-5 section-certification">
    <h2 class="text-center">ICT Academy</h2>
    <div class="mt-5">
        <div class="text-center">
            <img src="{% static 'img/about/mapa-ifrn.jpg' %}" alt="Banner Huawei ICT Job Fair" width="640px">
        </div>
        <div class="texts-certification mt-4">
            <p>
                O mercado da tecnologia exige que os profissionais se mantenham sempre atualizados. Mas existe outro fator decisivo na hora de definir qual profissional, estará mais apto no momento de concorrer a uma vaga, ou promoção na empresa onde trabalha: as certificações. O IFRN tornou-se ICT Academy desde 2020 em parceria com a Huawei. O objetivo da parceria é solucionar um dos principais desafios do setor: o déficit de mão de obra qualificada. A parceria visa a capacitação dos alunos do IFRN e público externo.
            </p>
            <p>
                O exame de certificação da Huawei é um meio importante para testar as conquistas de aprendizado dos alunos, além de muito importante para melhorar a qualidade do desenvolvimento de talentos através da Huawei ICT Academy. A maioria dos alunos são aprovados nos exames de certificação da Huawei depois de concluir os cursos relacionados, provando que estão qualificados para cargos básicos no setor. Para os alunos, a certificação da Huawei pode melhorar a sua competitividade no emprego. Para universidades e demais instituições, a certificação da Huawei pode melhorar a taxa de emprego das escolas. Para empresas, a certificação da Huawei pode reduzir os custos de treinamento das empresas. Cada vez mais vem se tornado uma tendência que esses cursos passem a fazer parte da grade curricular das instituições.
            </p>
            <p>
                Sendo assim, nosso principal objetivo com o projeto é oferecer treinamento on-line e presencial em tecnologias como Redes 5G, IA, Cloud Service e Routing & Switching. Os treinamentos on-line serão através da plataforma Talent da Huawei e a transmissão das aulas serão por meio do Microsoft Teams, já as aulas presenciais acontecerão nos laboratórios espalhados nos campi do IFRN.
            </p>
        </div>
    <div>
</section>
{% endblock 'conteudo' %}