{% extends 'base.html' %}
{% load static %}
{% block 'estilos' %}<link rel="stylesheet" href="{% static 'css/index.css' %}">{% endblock 'estilos' %}
{% block 'titulo' %}Huawei - IFRN{% endblock 'titulo' %}

{% block 'conteudo' %}
            <!-- Background video -->
            <div class="video-background-holder">
                <div class="video-background-overlay"></div>
                <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
                    <source src="{% static 'videos/background.webm' %}" type="video/mp4">
                </video>
                <div class="video-background-content container h-100">
                    <div class="d-flex h-100 text-center align-items-center">
                        <div class="w-100 text-white">
                            <h1 class="display-4">
                                <img src="{% static 'img/huawei-ict-logo-2.png' %}" alt="Logo da Huawei Academy">
                            </h1>
                            <p class="lead mb-0">
                                O Instituto Federal de Educação, Ciência e Tecnologia do Rio Grande do Norte (IFRN) em parceria com a Huawei, multinacional chinesa de tecnologia, oferece cursos de certificação para o setor de Tecnologia da Informação e da Comunicação (TIC).
                            </p>
                            <a class=" btn-bg-video btn btn-success mt-5" href="#" role="button">Saiba mais</a>
                            <a class=" btn-bg-video btn btn-success mt-5" href="#" role="button">Cursos</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End -->

            <!-- About project -->
            <section class="py-5 px-auto">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 hidden-sm hidden-xs">
                            <div class="project-picture"><br>
                                <img src="{% static 'img/huawei-ict-logo-red-2.png' %}" alt="" class="img-responsive wow slideInLeft" style="visibility: visible; animation-name: slideInLeft;">
                            </div> <!-- end picture -->
                        </div> <!-- end col -->
                        <div class="col-md-8">
                            <h2>O Projeto</h2>
                            <p>O IFRN tornou-se ICT Academy desde 2020 em parceria com a Huawei. O objetivo da parceria é solucionar um dos principais desafios do setor: o déficit de mão de obra qualificada. A parceria visa a capacitação dos alunos do IFRN e público externo.</p>
                            <p>O exame de certificação da Huawei é um meio importante para testar as conquistas de aprendizado dos alunos, além de muito importante para melhorar a qualidade do desenvolvimento de talentos através da Huawei ICT Academy.</p>
                            <p>Sendo assim, nosso principal objetivo com o projeto é oferecer treinamento on-line e presencial em tecnologias como <strong>Redes 5G, Inteligência Artificial, Cloud Service e Datacom.</strong></p>

                            <hr class="invis">

                            <h2>Ofertamos</h2>
                            <ul>
                                <li>Aulas online gratuítas</li>
                                <li>Instrutores certificados</li>
                                <li>Materiais oficiais da Huawei</li>
                                <li>Aulas remotas</li>
                                <li>Voucher para prova final</li>
                                <li>Simulados e muito mais...</li>
                            </ul>
                        </div> <!-- end col -->
                    </div> <!-- end row -->
                </div> <!-- end container -->
            </section>
            <!-- End -->

            <!-- Carousel section -->
            <div class="carousel-section">
                <div class="text-center">
                    <h2>Cursos e Inscrições</h2>
                    <p id="courses-outside-p">Conheça mais dos cursos oferecidos, professores ministrantes, bolsistas e o cronograma das aulas e datas de inscrições.</p>
                </div>

                <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="true">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active mb-3">
                            <div class="section-cards d-flex">
                                <div class="card" style="width: 22rem;">
                                    <img src="{% static 'img/cursos/cloud-service.png' %}" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Cloud Service</h5>
                                        <p class="card-text">
                                            As tecnologias e serviços de nuvem em todo o mundo tornaram-se uma tendência. 
                                            Nesse sentido, a computação...
                                        </p>
                                        <hr class="invis">
                                        <div class="row-card d-flex">
                                            <div class="icons">
                                                <i class="fa-regular fa-clock color-icons"></i>
                                                <span class="me-1">40H</span>
                                                <i class="fa-solid fa-calendar-days color-icons"></i>
                                                <span>Em breve</span>
                                            </div>
                                            <a href="#" class="btn btn-success">Saiba Mais</a>
                                        </div> <!-- end card row -->
                                    </div> <!-- end card body -->
                                </div> <!-- end card -->
                                
                                <div class="card" style="width: 22rem;">
                                    <img src="{% static 'img/cursos/ai.png' %}" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Inteligência Artificial</h5>
                                        <p class="card-text">
                                            A certificação HCIA-IA destina-se a profissionais que precisam dominar as tecnologias de IA, aprender e usar...
                                        </p>
                                        <hr class="invis">
                                        <div class="row-card d-flex">
                                            <div class="icons">
                                                <i class="fa-regular fa-clock color-icons"></i>
                                                <span class="me-1">45H</span>
                                                <i class="fa-solid fa-calendar-days color-icons"></i>
                                                <span>Em breve</span>
                                            </div>
                                            <a href="#" class="btn btn-success">Saiba Mais</a>
                                        </div> <!-- end card row -->
                                    </div> <!-- end card body -->
                                </div> <!-- end card -->
    
                                <div class="card" style="width: 22rem;">
                                    <img src="{% static 'img/cursos/datacom.png' %}" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Datacom</h5>
                                        <p class="card-text">
                                            Obtenha as habilidades e conhecimentos necessários para a configuração e manutenção das redes de dados. O foco...
                                        </p>
                                        <hr class="invis">
                                        <div class="row-card d-flex">
                                            <div class="icons">
                                                <i class="fa-regular fa-clock color-icons"></i>
                                                <span class="me-1">70H</span>
                                                <i class="fa-solid fa-calendar-days color-icons"></i>
                                                <span>Em breve</span>
                                            </div>
                                            <a href="#" class="btn btn-success">Saiba Mais</a>
                                        </div> <!-- end card row -->
                                    </div> <!-- end card body -->
                                </div> <!-- end card -->
                            </div> <!-- end section cards -->
                        </div> <!-- end carousel item -->
    
                        <div class="carousel-item mb-3">
                            <div class="section-cards">
                                <div class="card" style="width: 22rem;">
                                    <img src="{% static 'img/cursos/5g.png' %}" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Redes 5G</h5>
                                        <p class="card-text">
                                            A 5G, que hoje está em vias de ser implantada no Brasil, é a culminação de um longo...
                                        </p>
                                        <hr class="invis">
                                        <div class="row-card d-flex">
                                            <div class="icons">
                                                <i class="fa-regular fa-clock color-icons"></i>
                                                <span class="me-1">40H</span>
                                                <i class="fa-solid fa-calendar-days color-icons"></i>
                                                <span>Em breve</span>
                                            </div>
                                            <a href="#" class="btn btn-success">Saiba Mais</a>
                                        </div> <!-- end card row -->
                                    </div> <!-- end card body -->
                                </div> <!-- end card -->
                            </div> <!-- end section cards -->
                        </div> <!-- end carousel item -->
                    </div> <!-- end section carousel items -->
                    <button class="carousel-control-prev" style="width: 8%;" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Anterior</span>
                    </button>
                    <button class="carousel-control-next" style="width: 8%;" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Próximo</span>
                    </button>
                </div>
            </div>
            <!-- End --> 

            <!-- Cordenacao section -->
            <section class="coordenation-section">
                <h2 class="text-center">Coordenação</h2>
                <div class="coordinators-div text-center">
                    <div class="coordinators">
                        <div class="coordinators-div-img mb-3">
                            <img src="{% static 'img/coordenadores/rodrigo-4.jpg' %}" alt="Foto do coordenador">
                        </div>
                        <h3>Coordenador Geral</h2>
                        <h4>Rodrigo Tertulino</h3>
                    </div>
                    <div class="coordinators">
                        <div class="coordinators-div-img mb-3">
                            <img src="{% static 'img/coordenadores/jefferson.jpg' %}" alt="Foto do vice-coordenador">
                        </div>
                        <h3>Vice-coordenador</h2>
                        <h4>Jefferson Silva</h3>
                    </div>
                </div>
            </section>
            <!-- end -->

{% endblock 'conteudo' %}