.contacts-section {
    justify-content: space-between;
    padding: 0 10rem;
}

.card-contact {
    width: 50rem;
}

.color-icons {
    color: #157347;
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    color: #157347;
}

.instituto-section {
    justify-content: space-around;
    align-items: center;
}