/* ---------- Background vídeo ------------ */
.video-background-holder {
    position: relative;
    background-color: black;
    height: calc(100vh - 72px);
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

.video-background-holder video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.video-background-content {
    position: relative;
    z-index: 2;
}

.video-background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

code {
    padding: 0 0.15rem;
    background: #f5f5f5;
    border-radius: 0.2rem;
}

.btn-bg-video {
    padding: .8rem 1rem;
}

/* ---------------------------------------- */

/* ------------ Section Cards ------------- */
.carousel-section {
    background-color: #f7f7f7;
    padding: 2% 0;
}

.section-cards {
    justify-content: space-between;
    padding: 2% 10%;
}

.row-card {
    justify-content: space-between;
    align-items: center;
}

.color-icons {
    color: #157347;
}

/* ---------------------------------------- */
/* ---------- Coordenation Cards ----------- */

.coordenation-section {
    padding: 2% 20%;
}

.coordinators-div {
    display: flex;
    justify-content: space-around;
    padding: 5% 0;
}

.coordinators {
    border: 1px solid gray;
    padding: 4% 2%;
    box-shadow: 0 0 .5rem gray;
}

/* ---------------------------------------- */