{% load static %}        
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'index' %}">
                    <picture>
                        <source srcset="{% static 'img/logo-ifrn-branco-3.png'%}" media="(max-width: 530px)">
                        <img src="{% static 'img/logo-ifrn-grande-2.png'%}" alt="Logo Branco do IFRN">
                    </picture>
                    
                    <picture>
                        <source srcset="{% static 'img/logo-huawei-pq-3.png'%}" media="(max-width: 530px)">
                        <img src="{% static 'img/logo-huawei-2.png'%}" alt="Logo Branco da Huawei">
                    </picture>
                </a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Início</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Sobre</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">ICT Academy</a></li>
                                <li><a class="dropdown-item" href="#">Huawei</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Cursos</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Cloud Service</a></li>
                                <li><a class="dropdown-item" href="#">Inteligência Artificial</a></li>
                                <li><a class="dropdown-item" href="#">Datacom</a></li>
                                <li><a class="dropdown-item" href="#">5G</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Eventos</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">ICT Job Fair Brasil</a></li>
                                <li><a class="dropdown-item" href="#">ICT Competition Brasil</a></li>
                                <li><a class="dropdown-item" href="#">Seeds for the Future</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Laboratórios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Certificação</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Contato</a>
                        </li>
                    </ul>
                    <button class="btn btn-outline-success me-2">Entre</button>
                    <button class="btn btn-outline-success">Cadastre-se</button>
                </div>
            </div>
        </nav>