{% extends 'base.html' %}
{% load static %}
{% block 'titulo' %}ICT Job fair Brasil | Huawei - IFRN{% endblock 'titulo' %}

{% block 'conteudo' %}
    <section class="my-5 section-certification">
        <h2 class="text-center">ICT Job fair Brasil</h2>
        <div class="mt-5">
            <div class="text-center">
                <img src="{% static 'img/events/job-fair-brasil.jpg' %}" alt="Banner Huawei ICT Job Fair" width="640px">
            </div>
            <div class="texts-certification mt-4">
                <p>
                    Há 23 anos no Brasil, a Huawei já capacitou mais de 30 mil profissionais no País, nos últimos 5 anos, e gera milhares de empregos diretos e indiretos no Brasil na área de tecnologia da informação e comunicação (TIC). Como parte da estratégia de contribuir para a transformação digital do País, a empresa sedia o Huawei ICT Job Fair é uma feira onde empresas de todo o Brasil vão divulgar vagas de estágio e emprego para os alunos do ICT Academy. Sendo assim, é uma ótima oportunidade para conseguir o tão esperado emprego ou mesmo estágio em TIC. A feira acontece anualmente geralmente nos meses de dezembro.
                    <br>
                    <br>
                    <span class="d-block linha-2">
                        Fonte:
                        <a href="https://www.huawei.com/br/" target="_blank" class="link-certification">Huawei</a>.
                    </span>
                </p>
            </div>
        <div>
    </section>
{% endblock 'conteudo' %}