{% extends 'base.html' %}
{% load static %}
{% block 'titulo' %}Seeds for the Future | Huawei - IFRN{% endblock 'titulo' %}

{% block 'conteudo' %}
<section class="my-5 section-certification">
    <h2 class="text-center">Seeds for the Future</h2>
    <div class="mt-5">
        <div class="text-center">
            <img src="{% static 'img/events/seeds-for-the-future.png' %}" alt="Banner Seeds for the Future Huawei" width="640px">
        </div>
        <div class="texts-certification mt-4">
            <p>
                Lançado em 2008, o Seeds for the Future faz parte de uma plataforma ainda mais abrangente da Huawei, chamada Tech4All, que pretende ajudar mais de 500 milhões de pessoas a se beneficiarem da tecnologia digital nos próximos cinco anos. O programa já capacitou mais de 30 mil estudantes, de 126 países. No Brasil, cerca de 150 alunos já participaram do programa desde que foi lançado em 2015, em cooperação com o MCTIC e Ministério da Educação.
            </p>
            <p>
                “O Brasil, hoje, enfrenta um gap de mão de obra qualificada no setor de TICs. Estamos em uma corrida pela transformação digital e, para não ficarmos para trás, precisamos investir em capacitação de pessoas para atuar neste setor”, afirma Bruno Zitnick, diretor de Relações Públicas e Governamentais da Huawei.
            </p>
            <p>
                Uma das principais iniciativas da empresa é o Seeds for The Future, um programa de intercâmbio de estudantes, que tem como objetivo inspirar jovens do mundo todo a construir um futuro por meio da tecnologia. A fim de inspirar jovens talentos a ingressarem no mercado de Tecnologia da Informação e Comunicação (TIC), junto com as universidades e institutos parceiros, começa a selecionar estudantes para participar de mais uma edição do Seeds for the Future, programa global de intercâmbio cultural e profissional da empresa.
                <br>
                <br>
                <span class="d-block linha-2">
                    Fonte:
                    <a href="https://www.huawei.com/br/" target="_blank" class="link-certification">Huawei</a>.
                </span>
            </p>
        </div>
    <div>
</section>
{% endblock 'conteudo' %}